<template>
	<div class="setting">
	<div class="setting-label">
	<slot v-if="$slots.label" />
	<span />
	</div>
	<div class="setting-content">
	<slot name="content" />
	</div>
	</div>
</template>
<script>
export default {
		name: "Setting",

		props: {
				label: {
						required: false,
						type: String,
						default: "label",
				}
		}
}
</script>
<style lang="less" scoped>
.setting {
  display: flex;

  &-label {
    display: flex;
    flex-direction: column;
    width: 250px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    min-width: 350px;
  }
}
</style>