<template>
	<router-view
	v-if="ready"
	:key="$route.path"
	/>
	<div
	v-else
	class="loading"
	>
	<q-circular-progress
	size="60px"
	:thickness="0.2"
	color="blue"
	indeterminate
	/>
	<span>loading quarck...</span>
	</div>
</template>

<script>
export default {
	name: 'App',

	data() {
		return {
			ready: false,
		};
	},

	created() {
		this.$astor.onReady(() => {
			this.init();
			this.ready = true
		});
	},
};
</script>
<style lang="less">
html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	//color: white;
	background-color: white;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
</style>
