<template>
	<div class="choose-conversation">
	Choose Conversation
	</div>
</template>
<script>
export default {
	name: 'ChooseConversation',
};
</script>
<style lang="less" scoped>
.choose-conversation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
</style>
