<template>
	<div class="conversations">
	<div class="conversations-navigation">
		<q-list bordered>
	<q-item
		v-ripple
		clickable
		to="/"
	>
		<q-item-section avatar>
		<q-icon
			color="primary"
			name="home"
		/>
		</q-item-section>
		<q-item-section>Home</q-item-section>
	</q-item>
	<q-item>
		<q-item-section avatar>
		<q-icon
			color="primary"
			name="list"
		/>
		</q-item-section>
		<q-item-section>Conversations</q-item-section>
	</q-item>
	<q-item
		v-for="conv of getConversations"
		:key="conv.uuid"
		v-ripple
		clickable
		:to="`/conversations/${conv.uuid}`"
	>
		<q-item-section avatar>
		<q-icon
			color="primary"
			name="chat"
		/>
		</q-item-section>
		<q-item-section>{{ conv.name }}</q-item-section>
	</q-item>
		</q-list>
		<div />
	</div>
	<router-view class="conversations-conversation" />
	</div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
	name: 'Conversations',

	computed: {
		...mapGetters(['getConversations']),
	},
};
</script>
<style lang="less" scoped>
.conversations {
	display: flex;
	height: 100%;
	width: 100%;

	&-navigation {
		border-right: 1px solid lightgray;
	}

	&-conversation {
		flex-grow: 1;
	}
}
</style>
