<template>
	<div
		v-if="conv != undefined"
		class="conversation"
	>
		<div class="conversation-header">
			{{ conv.name }}
		</div>
		<div class="conversation-messages">
			<div
				v-for="msg of conv.messages"
				:key="msg.uuid"
				class="conversation-messages-message"
			>
				<div class="conversation-messages-message-header">
					<span class="conversation-messages-message-header-name">{{ msg.from }}</span>
					<span class="conversation-messages-message-header-date">{{ date(msg.received) }}</span>
				</div>
				<!-- eslint-disable -->
				<p v-html="$sanitize(msg.content)" />
			</div> 
		</div>
		<div class="conversation-messagebox">
			<q-editor v-model="text" min-height="5rem" />
			<q-btn color="primary" icon="send" @click="sendMessage(conv.uuid, text)" />
		</div>
	</div>
</template>
<script>
import { mapGetters } from 'vuex';
import { date } from 'quasar'

export default {
	name: 'Conversation',

	data() {
		return {
			text: "",
		};
	},

	computed: {
		...mapGetters(['getConversation']),
		conv() {
			return this.getConversation(this.$route.params.conversation);
		},
	},

	methods: {
		date(string){
			return date.formatDate(date.extractDate(string, 'YYYY-MM-DDTHH:mm:ss.SSSZ'), 'DD MM HH:mm')
		}
	}

};
</script>
<style lang="less" scoped>
.conversation {
	display: flex;
	flex-direction: column;

	&-header {
		display: flex;
		padding: 16px;
	}

	&-messages {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 16px;

		&-message {
			display: flex;
			flex-direction: column;
			padding: 8px;

			&:hover {
				background-color: #f0f0f0;
			}

			&-header {
				&-name {
					font-weight: 500;
				}

				&-date {
					font-size: 12px;
					font-weight: 600;
				}
			}
		}
	}

	&-messagebox {
		display: flex;
		padding: 16px;
	}
}
</style>
